<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <p><%= detail %></p>
    <hr>
    <h1>Hello</h1>
    <h3>Name :<%= firstName %> <%= lastName %></h3>
    <h4>Age : <%= age %></h4>
  </body>
</html>
